html, body, #map-canvas {
	height: 100%; margin: 0; padding: 0;
}

.inputBox {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 1px;
	box-shadow: 0 2px 6px rgba(0,0,0,.3);
	cursor: 'pointer';
	margin-top: 22px;
	text-align: left;
	height: 36px;
	padding: 0 8px;
	font-size: 15px;
	font-family: Roboto,Arial,sans-serif;
	line-height: 20px;
	font-weight: 300;
	width: 600px;
}

.input:focus, .inputBox:focus {
	border-color: #4d90fe !important;
	outline: none;
}

.text_container {
	top: 0px;
	float: top;
	position: relative;
	background-color: white;
	padding: 4px;
	width: auto;
	height: auto;
	border-left: 2px solid #4d90fe;
	border-right: 2px solid #4d90fe;
	border-top: 2px solid #4d90fe;
	border-bottom: 2px solid #5680FC;
}

.post_text {
	color: #0336D1;
	font-size: 15px;
	font-family: Roboto,Arial,sans-serif;
}

.post_pointer {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #5680FC;
	opacity: 0.8;
}

.post {
	height: auto;
	width: auto;
	position: absolute;
	display: none;
}