html, body, #map-canvas {
	height: 100%; margin: 0; padding: 0;
}

.inputBox {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 1px;
	box-shadow: 0 2px 6px rgba(0,0,0,.3);
	cursor: 'pointer';
	margin-top: 22px;
	text-align: left;
	height: 36px;
	padding: 0 8px;
	font-size: 15px;
	font-family: Roboto,Arial,sans-serif;
	line-height: 20px;
	font-weight: 300;
	width: 600px;
}

.input:focus, .inputBox:focus {
	border-color: #4d90fe !important;
	outline: none;
}

.text_container {
	top: 0px;
	background-color: #6C9FD9;
	padding: 6px;
	width: auto;
	height: auto;
}

.post_text {
	color: #FFFFFF;
	font-size: 15px;
	font-family: Roboto,Arial,sans-serif;
}

.post_pointer {
	width: 0; 
	height: 0; 
	border-left: 5px solid #6C9FD9;
	border-right: 5px solid transparent;
	border-bottom: 3px solid transparent;
}

.post_marker {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #FC828A;
	display: block;
	z-index: -2;
	opacity: 1;
	margin-left: 44px;
	margin-top: 44px;
	position: absolute;
}

.post_container {
	position: absolute;
	bottom: 50px; 
	left: 49px;
	z-index: -1;
	opacity: 1;
}

.post {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	position: absolute;
	margin-left: -50px;
	margin-top: -50px;
	background-color: rgba(0,0,255,0);
}

.logo {
	background-image: url("images/logo.png");
	background-position: 30% 40%;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	background-color: #FFFFFF;
	opacity: 0.7;
	margin-left: 28px;
	margin-top: 22px;
}
