<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  </head>
  <body>
    <div class="about">
      <h1> About </h1>
      The website provides students at Columbia a means of sharing their thoughts in full anonymity (except for location). Whether it's something practical like "free pizza at Lerner", something juicy like an admirers post, or even just a joke, whoever is watching will see it pop up.

      Users can post to their location in an instant and watch their voice be amplified. The website updates without refreshing, so posts appear and disappear in real time. Posts have a life span, which keeps things fresh and fleeting. Click the logo to center back to Columbia.

      The website wasn't built with a particular content type in mind. The users will naturally define the websites purpose based on what type of content they post. We're excited to see what potential this minimal tool will holds.

      There are many features we wanted to implement that we simply didn't have enough time for, such as: 

      Going back in time and re-watching an event (watch the most memorable posts of the day pop up).
      Being able to private message (still anonymously) a post's author.
      Increasing and decreasing a posts life span based on up-votes and down-votes.
      Having student groups sign up in order to post about their events in their respective locations.
      Filtering posts based on friends/groups/content.
      Visit Tattlr.info now to see Columbia breathing!
    </div>
  </body>
</html>